@charset "EUC-KR";
 * {
  box-sizing: border-box;
}
.size-large-checked-yes-indeterminate-no-description-no-info-icon-no-additional-text-no-picture-no-state-default {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.checkbox-parent-components {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkmark {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.container {
  padding: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-block {
  color: var(--black-black, #1d1d1f);
  text-align: left;
  font: 400 14px/22px "Inter-Regular", sans-serif;
  position: relative;
}